html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { font-family: Arial, sans-serif; font-size: 16px; line-height: 1.25; min-width: 320px; min-height: 320px; }

.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }

.clearfix:after { clear: both; }

a, a:before, .button, button, button:before, input[type="button"], input[type="submit"] { transition: border-color .1s ease-in, color .1s ease-in, background-color .1s ease-in; }

.hide { display: none !important; }

.owl-item { height: 100vh; }

.slide { width: 100%; height: 100%; float: left; overflow: hidden; perspective: 100vw; transform-style: preserve-3d; }

.slide_inner { position: relative; transform-style: preserve-3d; }

.slide_image { text-align: center; position: relative; z-index: 1; transform: translateZ(10px); }

.slide_image img { vertical-align: middle; width: auto !important; max-width: 100% !important; max-height: 120%; display: inline-block !important; }

.slide_description { position: absolute; top: 5%; right: 0; bottom: 0; left: 0; margin: 0 auto; z-index: 10; width: 85%; height: 80%; transform: translateZ(120px); border: 5px solid #eeeccd; color: #eeeccd; padding: 2%; }

.slide_description-name { font-size: 2vw; }

.slide_description-title { font-size: 1vw; }

.slider { overflow: hidden; height: 100%; width: 100%; background-color: #c1262a; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

 * { -webkit-text-size-adjust: none; } }

@media screen and (max-width: 1025px) {

 .slide_inner { height: 100%; }

 .slide_image { height: 100%; }

 .slide_image img { max-width: 80% !important; max-height: 80% !important; position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto; }

 .slide_description { top: 15%; width: 74%; height: 71%; } }

@media screen and (max-width: 760px) {

 .slide_description { top: 21%; width: 54%; height: 55%; border-width: 2px; } }
